.BlueBlob1{
    position: relative;
    left: 27.36%;
    right: 16.87%;
    top: 79.22%;
    bottom: -74.72%;

    background: linear-gradient(143.15deg, #6100FF 8.37%, rgba(0, 255, 255, 0) 91.49%);
    filter: blur(200px);
}