.BlueBlob1{
    position: absolute;
    left: 10%;
    bottom: 0;
    z-index: 0;          
    width: 80%;
    height: 40%;     
    .BlueBlob1Svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
            filter: blur(100px);
    }
}

.BlueBlob2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;          
    width: 65%;
    height: 70%;     
    .BlueBlob2Svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
            filter: blur(100px);
    }
}

.RedBlob1{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 25%;
    z-index: 0;          
    width: 50%;
    height: 70%;     
    .RedBlob1Svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
            filter: blur(100px);
    }
}

.RedBlob2{
    position: absolute;
    right: 0;
    bottom: 0;
    top: -30%;
    z-index: 0;          
    width: 45%;
    height: 90%;     
    .RedBlob2Svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
            filter: blur(100px);
    }
}