.total-Frame3-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 7vh 0vw 3vh 1vw;
    z-index: 1;
}

.divInterno{
    position: relative;
    left: 6vw;
    width: 90vw;

    .texto2{
        position: relative;
        color: #FFF;
        left: 1vw;
        width: 50%;
        height: 50%;
        font-family: IBM Plex Mono;
        font-size: calc(.3rem + 1vw);
        padding: 3vw 0vw 6vw 1vw;
    }
}

.texto3{
    position: relative;
    font-family: 'VT323';
    font-weight: 400;
    font-size: calc(2rem + 5vw);
    line-height: 90%;
    text-align: center;
    padding: 5vh 0vw 5vh 0vw;
    color: #BEC8FE;
}

.TextBox2-container{
    position: relative;
    width: 90vw;
    left: 1vw;
    padding: 4vh 2vh 6vh 2vh;
}