.Frame7-Total-Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 7vw;

    .UserData-Container{
        position: relative;
        padding: 8vw 0vw 0vw 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        .Name-Container{
            position: relative;
        }

        .PhoneAndEmail-Container{
            position: relative;
            width: 70vw;
            padding: 2vw 0vw 2vw 0vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .Phone-Container{
                position: relative;

            }

            .Email-Container{
                position: relative;
            }
        }

        .Message-Container{
            position: relative;
        }
    }

    .AdjuntarAndSend-Container{
        position: relative;

        .Adjuntar-Container{
            position: relative;
        }

        .Send-Container{
            position: relative;
        }
    }
}