.Total-Frame5-Container{
    position: relative;
    background-color: #C4C4C4 ;
    /*padding: 10vw 10vw 10vw 20vw;*/
}

.grid-layout2{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;

    .Frame5-text{
        position: relative;
        
        .Frame5-text1{
            position: relative;

            font-family: IBM Plex Mono;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;

            color: #FB6376;

        }

        .Frame5-text2{
            position: relative;
        }

        .Frame5-text3{
            position: relative;
        }

        .Frame5-text4{
            position: relative;
        }

    }
}