.TextBox{ 
    border: 2px solid #ffffff;
    box-shadow: .4rem .4rem #ffffff;
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 1vw 1vw;
    height: max-content;
    width: 40%;
    min-width: max-content;
    background: #546ffd;
    transform: rotate(-2deg);
    p {
        font-family: "VT323";
        font-size: 3.8vw;
        font-size: calc(1rem + 3vw);
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    
}