.elipse{

    box-sizing: border-box;

    position: relative;
    width: 33.97px;
    height: 34.51px;
    left: 572.51px;
    top: 562.95px;

    background: #FFFFFF;
   
    border: 5px solid #18A0FB;
    border-radius: 100%;

}

.arrow{

    position: relative;
    width: 500px;
    height: 1px;
    left: 601.37px;
    top: 576.9px;

    border: 6px solid #189FFB;
    
    
    transform: scale(0.4) rotate(90deg);

    
}

.fullArrow{
    position: relative;
    display: flex;
    gap: 0px;
    width: 50%;
}