@import '../../Theme/variables.scss';

.main_header{
  height: 4rem;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
}