.TextBox2{ 
    position: relative;  
    width: fit-content;
    height: max-content;   
    box-sizing: border-box;

    font-family: 'VT323';
    font-size: calc(1rem + 4vw);
    padding: 2vw 2.1vw 2.1vw 2.1vw;    
    text-align: center;
}

.blue-back{
    background-color: #546FFD;
}

.white-back{
    background-color: white;
}

.white-Letterded{
    color: white;
}

.non-white-Letterded{
    color: #778CFD;
}

.transfo{
    transform: rotate(-2deg);
}

.non-black-shadow{
    box-shadow: .4rem .4rem #546FFD;
}


.black-shadow{
    box-shadow: .4rem .4rem black;
}

.small{
    font-size: calc(.5rem + .5vw);
    padding: .5vw 1vw .6vw 1vw;    
    text-align: center;
}