.Total-Frame6Arrows-Container{
    position: relative;
    top: 10vw;
    display: flex;
    align-items: center;
    width: 5vw;
    height: 5vw;
    
    
    .Frame6Arrows{
        position: absolute;
        width: 20vw;
        height: 20vw;
    
        .Frame6Arrow1{
            position: absolute;
            bottom: 10vw;
        }

        .Metodologia1{
            position: absolute;
        }
        
        .Frame6Arrow2{
            position: absolute;
            top: -4vw;
        }

        .Frame6Arrow3{
            position: absolute;
            top: -10vw;
            
        }

        .Frame6Arrow4{
            position: absolute;
            top: -7vw;
        }

        .Frame6Circle{
            position: absolute;
            left: -1.8vw;
            width: 2vw;
            height: 2vw;
        }

    }


}

