.BlueBox3-Container{
    position: relative;
    width: 140%;
    height: 140%;
    border: .3vw solid #18A0FB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    background-color: none;
    z-index: 1;

    .corner1and2{
        position: relative;
        right: .9vw;

        .corner1{
            position: relative;
            bottom: 16.6vw;
            box-sizing: border-box;
            background: #FFFFFF;
            border: .30vw solid #18A0FB;
            width:  calc(.15rem + 1.3vw);
            height: calc(.15rem + 1.3vw);
        }

        .corner2{
            position: relative;
            bottom: -16.6vw;
            box-sizing: border-box;
            background: #FFFFFF;
            border: .30vw solid #18A0FB;
            width:  calc(.15rem + 1.3vw);
            height: calc(.15rem + 1.3vw);
        }
    }

    .BlueBox3-Content{
        position: relative;
        display:flex;
        align-items: center;
        justify-content:center;
        
        img{
            width: 90%;
            height: 90%;
        }

    }

    .corner3and4{
        position: relative;
        right: -.9vw;

        .corner3{
            position: relative;
            bottom: 16.6vw;
            box-sizing: border-box;
            background: #FFFFFF;
            border: .30vw solid #18A0FB;
            width:  calc(.15rem + 1.3vw);
            height: calc(.15rem + 1.3vw);
        }

        .corner4{
            position: relative;
            bottom: -16.6vw;
            box-sizing: border-box;
            background: #FFFFFF;
            border: .30vw solid #18A0FB;
            width:  calc(.15rem + 1.3vw);
            height: calc(.15rem + 1.3vw);           
        }
    }
}