.total-frame2-container {
  position: relative;
  height: 250%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1vh 1vw 0vh 2vw;
  
  

    .first-container {
      height: max-content;
      width:max-content;
      padding: .5vw 1vw;
      background: #546FFD;
      text-align: center;
      color: white;
    
      p {
        font-family: "VT323", monospace;
        font-style: normal;
        font-size: calc(.5rem + 1.5vw);
      }
    }

    .ArrowComponent{
      position: relative;    
      top: 1.4rem;
      left: 1.87rem;
      width: 75vw;
      height: fit-content;
      padding: 0vh 0vw 2vh 0vw;
  }

  .TextFrameComponent{
    position: relative;
    top: .7rem;
    padding: 3vh 0vw 3vh 0vw;
  }

  .BlueBoxComponent{
    position: relative;
    top: -1.5rem; 
    padding: 0vh 0vw 0vh 0vw;
  }

  .BlueBlob1Component{
    position: relative;
    width: 10%;
  }
  
  .TextBoxComponent{
    padding: 3vh 0vh 0vh 0vw;
  }

}
