.total-frame2-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 100px;
  min-height: 100vh;

  .first-container {
    padding-right: 80px;
    padding-top: 80px;

    .first-div {

      height: 38px;
      width: 121px;
      left: 96px;
      top: 157px;
      border-radius: 0px;
      padding: 4px 12px;
      background: #546FFD;
      text-align: center;
      color: white;
     

      p {
        font-family: "VT323", monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
      }
    }
  }

  .frame2-container {
    border: 2px solid #ffffff;
    box-shadow: 8px 8px 0px 0px #ffffff;
    display: flex;
    flex-direction: row;
    padding: 24px 36px;
    height: 106px;
    max-width: 800px;
    left: 97px;
    top: 209.45px;
    background: #546ffd;
    transform: rotate(-2deg);
  }
}

.text-frame2 {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 60%;
  letter-spacing: 0em;
  text-align: left;
  height: 58px;
  color: #ffffff;
  transform: rotate(-2deg);
  flex: none;
  order: 1;
  flex-grow: 0;
}
