.TextFrame{
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: nullpx;

    font-family: IBM Plex Mono;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;

}