.Total-Frame6-Container{
    position: relative;
    height: 40vw;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10vw 0vw 10vw 7vw;

    .Frame6-TextBox-Container{
        position: relative;

    }

/*aqui lo de las flechas y las metodologias*/
    

    .Frame6-Text{
        position: absolute;
        top: 20vw;
        left: 15vw;
        width: 40%;

        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 300;
        font-size: 1.5vw;
        line-height: 150%;
        color: #24252E;

    }
}